/* CSS styling for the web page. Yet to be worked upon after a better understanding of css basics which wont be too long *wink* */

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;

}